.title {
  text-align: center;
}
.form {
  margin: 2rem auto 0;
  width: 100%;
  max-width: 540px;
  @media (max-width: 576px) {
    max-width: 380px;
  }
  div {
    position: relative;
  }
  input {
    width: 100%;
    display: block;
    border: 1px solid #999;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
    padding: 0.7rem;
    margin-bottom: 2rem;
    &:focus {
      border-color: #00aaff;
      box-shadow: 0 0 3px #6dadf5;
    }
  }
}
.paymentInfo,
.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8rem;
}
.paymentInfo {
  margin-bottom: 1.7rem;
  .cardNumber {
    grid-column: 1/3;
    margin-bottom: 0;
  }
  input {
    margin: 0;
  }
  .expiration {
    display: flex;
  }
}

.bottom {
  span {
    font-size: 1.5rem;
    align-self: center;
    text-align: right;
  }
  button {
    width: 100%;
    font-size: 1rem;
    padding: 0.7rem;
    border: 2px solid #222;
    border-radius: 4px;
    background: #222;
    cursor: pointer;
    color: #fff;
    &:hover {
      background: none;
      border-color: #222;
      color: #222;
    }
  }
}
