.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
.top,
.items {
  border-bottom: 2px solid #222;
  display: flex;
  padding: 1rem 0;
}
.top {
  justify-content: space-between;
  align-items: center;
  span {
    width: 25%;
    @media (max-width: 768px) {
      width: 15%;
    }
    &:first-child {
      width: 40%;
      @media (max-width: 768px) {
        width: 55%;
      }
    }
    &:last-child {
      width: 8%;
    }
  }
}
.items {
  flex-direction: column;
  gap: 15px;
  max-height: 500px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 1em;
    background-color: #fafafa;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ebebeb;
  }
}
.totalPrice {
  padding: 15px 0;
  text-transform: uppercase;
  text-align: right;
}
